{% extends "pttrack/base.html" %}

{% block title %}
Drug Inventory
{% endblock %}

{% block header %}
<h2>Drug Inventory</h2>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table" id="drugs-table">
        <tr><th>Drug Category</th><th>Name</th><th>Dose</th><th>Total Inventory</th></tr>
        {% for drug in drugs %}
            <tr>
                <td>{{ drug.category }}</td>
                <td><a href="{% url 'drug-update' pk=drug.id %}">{{ drug.name }}</a></td>
                <td>{% if drug.dose %}
                        {{ drug.dose }}
                    {% endif %}
                    {% if drug.unit %}
                        {{ drug.unit }}
                    {% endif %}</td>
                <td>{{ drug.total_inventory }}</td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}


<h2> <a href="{% url 'patient-update' pk=patient.id %}">{{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
        </a></h2>
